.section {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    font-family: "Poppins";
    color : #fff;
}

#drapndrop {
    /* Your CSS styles here */
    padding: 30px;
    font-size: 3em;
    /* Add more styles as needed */
  }


  #toggleButton {
    position: absolute;
    top: 30px;
    left: 4px;

    z-index: 9999;
    background-color: #ccc;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#toggleButton .toggleButton-label-left {
    white-space:nowrap;
    position: absolute;
    top: 2px;
    right: 58px;
}

#toggleButton .toggleButton-label-right {
    white-space:nowrap;
    position: absolute;
    top: 2px;
    left: 58px;
}

#toggleButton .toggleButton-switch {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: #FFEDA0;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

#toggleButton.active .toggleButton-switch {
    transform: translateX(30px);
    background-color: #800026;
}

.fp-watermark { 
    display: none;
}
#map { 
    height: 900px;
    margin: auto;
    width:1500px;}
#map2 { 
    height: 900px;
    margin-left: 60px;
    width:900px;
}

#map_results { 
  height: 900px;
  margin: auto;
  width:1500px;}

#toggleButton {
    position: relative;
    z-index: 9999;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #777;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    position: absolute;
    top:700px;
    right:50px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.dropzone {
border: dashed 4px transparent;
border-radius: 4px;
margin: 10px auto 30px;
width: 500px;
height: 500px;
transition: background-color 0.3s;
background-image: url('./img/pizza.png');
background-size: 500px;
}

.drop-active {
border-color: #aaa;
}

.drop-target {
border-color: #fff;
border-style: solid;
}

.drag-drop {
display: inline-block;
width: 100px;
height: 100px;

color: #fff;
touch-action: none;
transform: translate(0px, 0px);
transition: background-color 0.3s;
}

.drag-drop.can-drop {
color: #000;
}

.beautiful-button {
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding (vertical, horizontal) */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add cursor hover effect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Add box shadow */
    transition: background-color 0.3s; /* Add smooth transition */
  }
  
  .beautiful-button:hover {
    background-color: #45a049; /* Change background color on hover */
  }

